h1 {
    text-align: center;
    color: blue;
}

.todolist {
    width: 500px;
    margin: 0 auto;
}

.todo {
    border-bottom: 1px solid #cecece;
}

.completed p {
    text-decoration: line-through;
}

.todo:last-child {
    border: none;
}

.todo p {
    display: inline-block;
}